<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koryyang.carbooking.mapper.CarStockMapper">

    <select id="selectStock" parameterType="string" resultType="long">
        SELECT stock FROM car_stock WHERE car_model = #{carModel}
    </select>

    <update id="updateStock">
        UPDATE car_stock SET stock = #{stock} WHERE car_model = #{carModel}
    </update>

    <select id="selectAllCarModels" resultType="string">
        SELECT car_model AS carModel FROM car_stock
    </select>

</mapper>